#userSettings {
  list-style-type: none;
  width: 300px;
  padding-left: 20px;
}
#userSettings .userSettings-list {
  display: table;
  margin-bottom: 3px;
}
#userSettings .userSettings-list span {
  display: table-cell;
  width: 50%;
}
#userSettings .userSettings-list span input {
  width: 50%;
}