/*Input fields*/
#userSettings {
  list-style-type: none;
  width: 300px;
  padding-left: 20px;
}
#userSettings .userSettings-list {
  display: table;
  margin-bottom: 3px;
}
#userSettings .userSettings-list span {
  display: table-cell;
  width: 50%;
}
#userSettings .userSettings-list span input {
  width: 50%;
}

/*Buttons*/
#userSettings .userSettings-list#userButtons {
  margin-top: 10px;
}
#userSettings .userSettings-list#userButtons input:first-child {
  margin-right:10px;
}
#userSettings .userSettings-list#userButtons input {
  width: 65px;
}